:root {
    --variable-collection-main: rgba(245, 243, 244, 1);
    --variable-collection-secondary: rgba(13, 11, 11, 1);
    --variable-collection-red: rgba(176, 21, 26, 1);
    --variable-collection-offcolor: rgba(26, 26, 26, 1);
    --collection-1-secondary-duplicate: rgba(13, 11, 11, 1);
    --collection-1-main-duplicate: rgba(245, 243, 244, 1);
    --collection-1-red-duplicate: rgba(176, 21, 26, 1);
}